<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>DownloadArchive</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/nakata/.pyenv/shims/python</string>
        <string>/Users/nakata/Projects/dotfiles/launchd/download_archive.py</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>0</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/nakata/tmp/Launchd_DownloadArchive.out</string>
    <key>StandardErrorPath</key>
    <string>/Users/nakata/tmp/Launchd_DownloadArchive.err</string>
    <key>UserName</key>
    <string>nakata</string>
</dict>
</plist>
